.title{
    margin:10px;
    width:40%;
    background-color:#2c3e50;
    width:100%;
    height:100px;
    color:white
}

.title h4{
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:white
}

.form{
   position: absolute;
   top:40%;
   left:40%;
}

.formInput{
    width:100%;
    height:40px;
    margin-top:10px;
    text-align: left;
    font-size: 15px;
    font-weight: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.formButton{
    width:400px;
    height:40px;
    margin-top:20px;
    background-color: #2c3e50;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:white
    
}


.formImg{
    display: block;
    width:150px;
    height:100px;
    margin-left:120px;
}

.signupLink{
  margin-left:20px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.signup{
    display: block;
    float:right;
    width:100px;
    height:50px;
    background-color: #2c3e50;
    font-size: 15px;
    font-weight: bold;
    margin-right:20px;
   border-radius: 20%;
}

/************* popup ****************/
#popupdiv {
    width:100%;
    height:100%;
    opacity:.90;
    top:0;
    left:0;
    position:fixed;
    background-color:#313131;
    overflow:auto;
    display: none;
  }
  
  #popupMessage {
    position:absolute;
    left:55%;
    top:30%;
    margin-left:-202px;
    font-family:'Raleway',sans-serif;
    color: #fff;
    background-color : #2c3e50;
    padding: 25px;
    -webkit-box-shadow: 1px 1px 6px 5px rgba(147,172,189,1);
      -moz-box-shadow: 1px 1px 6px 5px rgba(147,172,189,1);
      box-shadow: 1px 1px 6px 3px rgba(147,172,189,1);
      margin-bottom: 15px;
    }
  #close {
      position:absolute;
      right:-14px;
      top:-14px;
      cursor:pointer;
      border-radius: 30%;
      border: transparent;
      }